@charset "UTF-8";

:root {
    --primary-color: #8C4130;
    --secondary-color: #A6511F;
    --tertiary-color: #BF7D2C;
    --quaternary-color: #818C2A;
    --quinary-color: #F2BC57;
    --title-color: #343a40;
    --text-color: #000000cb;
    --background-color: #DAD7CD;

    --font-default: "Roboto", sans-serif;
    --font-title: "DM Serif Text", serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-default);
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}

.basis {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    height: calc(80vh - 60px);
    padding: 20px;

    figure {
        margin-top: 80px;
    
        img {
            width: 100%;
            height: 75vh;
            border-radius: 10px;
            align-self: center;
        }
    }

    main {
        align-self: center;
        text-align: center;
        z-index: 3;
        padding: 2rem 2.5rem;
        border-radius: 12px;

        h1 {
            font-family: var(--font-title);
            font-size: 4rem;
            margin-top: 50px;
            color: var(--title-color);
            text-align: center;
        }

        p {
            font-size: 1.2rem;
            margin-top: 20px;
            color: var(--text-color);
            text-align: center;
        }

        button {
            background-color: var(--primary-color);
            color: var(--background-color);
            cursor: pointer;
            border: none;
            border-radius: 8px;
            padding: 10px 20px;
            margin-top: 20px;
        }
    }
}

.history {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    grid-template-areas: 
        "header mission"
        "header value";
    padding: 120px;
    margin: 5rem 0;
    gap: 20px;

    header {
        grid-area: header;
        margin-bottom: 20px;
        
        h1 {
            font-family: var(--font-title);
            text-align: start;
            font-size: 2.2rem;
            margin-bottom: 20px;
            color: var(--title-color);
        }

        p {
            font-size: 1.2rem;
            color: var(--text-color);
            margin-bottom: 20px;
        }
    }

    .mission {
        grid-area: mission;
        text-align: start;
        padding: 20px;
        
        h3 {
            font-size: 1.6rem;
            color: var(--quaternary-color);
            text-decoration: underline;
            margin-bottom: 10px;
        }

        p {
            font-size: 1.2rem;
            color: var(--text-color);
        }
    }

    .values {
        grid-area: value;
        text-align: start;
        padding: 20px;
        
        h3 {
            font-size: 1.6rem;
            color: var(--quaternary-color);
            text-decoration: underline;
            margin-bottom: 10px;
        }

        p {
            font-size: 1.2rem;
            color: var(--text-color);
        }
    }
}

.team {}

.solidariety {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    padding: 50px 0;

    h1 {
        font-family: var(--font-title);
        font-size: 3rem;
        color: var(--title-color);
        margin-bottom: 20px;
    }

    p {
        font-size: 1.2rem;
        color: var(--text-color);
        text-align: center;
        max-width: 800px;
        margin-bottom: 30px;
    }

    img {
        width: 80%;
        max-width: 600px;
        border-radius: 10px;
    }
}

.supporters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        text-align: center;
        font-size: 2.5rem;
        color: var(--title-color);
        margin-bottom: 20px;
    }

    img {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .basis {
        grid-template-columns: auto;
        height: auto;

        main {
            padding: 1rem;
            h1 {
                font-size: 2.5rem;
            }
            p {
                font-size: 1rem;
            }
        }

        img {
            display: none;
        }
    }

    .history {
        padding: 20px;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            "header"
            "mission"
            "value"
        ;

        header, .mission, .values {
            text-align: start;

            p {
                text-align: justify;
            }
        }
    }

    .supporters img {
        width: 90%;
    }
    
}