@charset "UTF-8";

:root {
    --primary-color: #8C4130;
    --secondary-color: #A6511F;
    --tertiary-color: #BF7D2C;
    --quaternary-color: #818C2A;
    --quinary-color: #F2BC57;
    --title-color: #0D0D0D;
    --text-color: #5d5d5d;
    --background-one: #E6E0D5;
    --background-two: #FFF9EE;

    --font-default: 'Roboto', sans-serif;
    --font-title: 'Courier New', Courier, monospace;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-default);
    font-style: normal;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;

    h2 {
        font-family: var(--font-title);
        font-size: 3rem;
        margin-bottom: 20px;
        color: var(--tertiary-color);
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 20px;
        color: var(--text-color);
        width: 50%;
        line-height: 1.5;
        text-align: justify;
        justify-self: center;
    }
}

.projects {
    height: max-content;
    padding: 5%;

    h2 {
        font-family: var(--font-title);
        font-size: 2.3rem;
        margin: 20px 0 20px 20px;
        color: var(--title-color);
        text-align: start;
    }

    .project-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        padding: 20px;
    
        section {
            border: 2px solid #8c8f91;
            border-radius: 10px;
            padding: 20px;
            width: 80%;

            figure {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                margin: 20px 0;
            }
    
            img {
                width: 100%;
                height: 50vh;
                border-radius: 10px;
                margin-bottom: 20px;
                margin: 10px;
                object-fit: contain;
            }
    
            h3 {
                font-family: var(--font-title);
                font-size: 1.5rem;
                margin-bottom: 20px;
                color: var(--quaternary-color);
                text-align: start;
            }

            h4 {
                font-family: var(--font-title);
                font-size: 1.5rem;
                margin-top: 20px;
                margin-bottom: 20px;
                color: var(--quinary-color);
                text-align: start;
            }
    
            p {
                font-size: 1.2rem;
                margin-bottom: 20px;
                color: var(--text-color);
                text-align: justify;
            }

            ul {
                margin: 20px 0;
                padding: 16px 24px;
                background: #FFDAB9;
                border-radius: 8px;
                box-shadow: 0 1px 4px rgba(0,0,0,0.04);
                list-style: disc inside;
            }

            ul li {
                margin-bottom: 8px;
                color: var(--text-color);
                font-size: 1rem;
                text-align: left;
                padding-left: 8px;
            }
        }
    }
}

.achievements {
    display: flex;
    flex-direction: column;
    height: max-content;
    background: #FFFACD;
    margin: 50px 0;
    padding: 5%;

    h2 {
        font-family: var(--font-title);
        font-size: 2.3rem;
        margin-bottom: 20px;
        color: var(--title-color);
    }

    button {
        background-color: var(--secondary-color);
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
}

.achievements-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 600px));
    grid-template-rows: auto;
    gap: 20px;

    article {
        text-align: center;
        align-content: center;
        background-color: #FFDAB9;
        border: none;
        border-radius: 10px;
        padding: 20px;
        height: 30vh;

        h3 {
            font-family: var(--font-title);
            font-size: 1.5rem;
            margin-bottom: 20px;
            color: var(--title-color);
        }

        p {
            font-size: 1.2rem;
            margin-bottom: 20px;
            color: var(--text-color);
            text-align: justify;
        }
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }
}

.donate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
    padding: 5rem;
    background-color: #fffacd;

    h2 {
        font-family: var(--font-title);
        font-size: 3rem;
        margin-bottom: 20px;
        color: var(--title-color);
        text-align: center;
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 20px;
        color: var(--text-color);
        text-align: center;
    }

    ul {
        padding: 20px;
        margin: 0 auto;
        max-width: 600px;
        background: #FFDAB9;
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.05);
        list-style: disc inside;

        li {
            margin-bottom: 10px;
            color: var(--title-color);
            font-size: 1.1rem;
            text-align: left;
            padding-left: 10px;
        }
    }
}

@media (max-width: 767px) {
    .about {
        height: max-content;
        padding: 40px;
        margin: 30px 0;

        h2 {
            font-size: 1.5rem;
        }

        p {
            font-size: 1rem;
            width: 100%;
        }
    }

    .projects {
        h2 {
            font-size: 1.5rem;
        }
    
        .project-list {
            padding: 0;
    
            section {
                padding: 15px;

                figure {
                    flex-direction: column;
                }
                
                img {
                    margin: 10px 0;
                    width: 100%;
                    height: 30vh;
                }
    
                h3, h4 {
                    font-size: 1.2rem;
                }
    
                p {
                    font-size: 1rem;
                }
            }
        }
    }

    .achievements {
        padding: 3rem;

        h2 {
            font-size: 1.5rem;
        }
    }

    .achievements-list {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        article {
            h3 {
                font-size: 1.2rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }

    .donate {
        padding: 2rem;

        h2 {
            font-size: 1.5rem;
        }

        p {
            font-size: 1rem;
        }

        button {
            padding: 8px 16px;
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .about {
        padding: 60px;
        margin: 50px 0;

        h2 {
            font-size: 1.8rem;
        }

        p {
            font-size: 1.1rem;
            width: 100%;
        }
    }

    .projects {
        height: min-content;

        h2 {
            font-size: 1.8rem;
        }

        .project-list {
            padding: 0;

            section {
                padding: 15px;
                width: 90%;

                figure {
                    flex-direction: column;
                }

                img {
                    width: 100%;
                    height: 60vh;
                    margin: 10px 0;
                }
    
                h3, h4 {
                    font-size: 1.5rem;
                }
    
                p {
                    font-size: 1.1rem;
                }
            }
        }
    }

    .achievements {
        padding: 5rem;

        h2 {
            font-size: 1.8rem;
        }

        .achievements-list {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

            article {
                h3 {
                    font-size: 1.5rem;
                }

                p {
                    font-size: 1.2rem;
                }
            }
        }
    }
}
