@charset "UTF-8";

:root {
    --primary-color: #8C4130;
    --secondary-color: #A6511F;
    --tertiary-color: #BF7D2C;
    --quaternary-color: #818C2A;
    --quinary-color: #F2BC57;
    --title-color: #343a40;
    --text-color: #262626;
    --background-one: #E6E0D5;
    --background-two: #FFF9EE;

    --font-default: "Roboto", sans-serif;
    --font-title: "DM Serif Text", serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-default);
    font-style: normal;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: calc(90vh - 60px);

    h2 {
        font-family: var(--font-title);
        font-size: 3rem;
        margin-bottom: 20px;
        color: var(--tertiary-color);
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 20px;
        color: var(--text-color);
        width: 50%;
        line-height: 1.5;
        text-align: justify;
        justify-self: center;
    }

    button {
        background-color: var(--quinary-color);
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
}

.projects {
    height: max-content;
    padding: 5%;

    h2 {
        font-family: var(--font-title);
        font-size: 2.3rem;
        margin: 20px 0 20px 20px;
        color: var(--title-color);
        text-align: start;
    }
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px;

    article {
        border: 2px solid #dee2e6;
        border-radius: 10px;
        transition: border-box 0.2s, box-shadow 0.2s, transform 0.2s;
        padding: 20px;

        img {
            width: 50px;
            height: auto;
            border-radius: 10px;
            margin-bottom: 20px;
            filter: brightness(0.2);
        }

        h3 {
            font-family: var(--font-title);
            font-size: 1.5rem;
            margin-bottom: 20px;
            color: var(--quaternary-color);
            text-align: start;
        }

        p {
            font-size: 1.2rem;
            margin-bottom: 20px;
            color: var(--text-color);
            text-align: justify;
        }

        nav {
            a {
                color: #000;
                text-decoration: none;
                text-align: center;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    article:hover {
        box-shadow: 10px 10px 0 rgba(140, 65, 48, 0.16);
        transform: translate(-3px, -3px);
    }
}

.achievements {
    display: flex;
    flex-direction: column;
    height: max-content;
    background: var(--background-two);
    margin: calc(40px + 60px) 0;
    padding: 5%;

    h2 {
        font-family: var(--font-title);
        font-size: 2.3rem;
        margin-bottom: 20px;
        color: var(--title-color);
    }

    button {
        background-color: var(--secondary-color);
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
}

.achievements-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 600px));
    grid-template-rows: auto;
    gap: 20px;

    article {
        text-align: center;
        align-content: center;
        background-color: var(--background-one);
        border: 1px solid #dee2e6;
        border-radius: 10px;
        padding: 20px;
        height: 30vh;

        h3 {
            font-family: var(--font-title);
            font-size: 1.5rem;
            margin-bottom: 20px;
            color: var(--title-color);
        }

        p {
            font-size: 1.2rem;
            margin-bottom: 20px;
            color: var(--text-color);
            text-align: justify;
        }
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }
}

.community {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    justify-content: flex-end;
    align-items: center;
    height: max-content;
    gap: 20px;
    padding: 20px;

    img {
        width: 90%;
        height: 70vh;
        border-radius: 10px;
        justify-self: center;
        align-self: center;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 20px;
    }

    h2 {
        font-family: var(--font-title);
        font-size: 2.3rem;
        margin-bottom: 20px;
        color: var(--title-color);
        text-align: center;
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 20px;
        color: var(--text-color);
        text-align: center;
    }

    button {
        background-color: var(--quaternary-color);
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
}

.donate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
    padding: 5rem;
    background-color: var(--background-two);

    h2 {
        font-family: var(--font-title);
        font-size: 3rem;
        margin-bottom: 20px;
        color: var(--title-color);
        text-align: center;
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 20px;
        color: #000;
        text-align: center;
    }

    button {
        background-color: var(--primary-color);
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
}

@media (max-width: 768px) {
    .about {
        height: max-content;
        padding: 40px;
        margin: 30px 0;

        h2 {
            font-size: 1.5rem;
        }

        p {
            font-size: 1rem;
            width: 100%;
        }

        button {
            padding: 8px 16px;
        }
    }

    .projects {
        h2 {
            font-size: 1.5rem;
        }
    }

    .project-list {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        article {
            padding: 15px;

            h3 {
                font-size: 1.2rem;
            }

            p {
                font-size: 1rem;
            }

            nav {
                a {
                    font-size: 0.9rem;
                }
            }
        }
    }

    .achievements {
        padding: 3rem;

        h2 {
            font-size: 1.5rem;
        }

        button {
            padding: 8px 16px;
        }
    }

    .achievements-list {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        article {
            h3 {
                font-size: 1.2rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }

    .community {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;

        img {
            width: 70%;
        }

        section {
            padding: 10px;
        }

        h2 {
            font-size: 1.5rem;
        }

        p {
            font-size: 1rem;
        }

        button {
            padding: 8px 16px;
        }
    }

    .donate {
        padding: 2rem;

        h2 {
            font-size: 1.5rem;
        }

        p {
            font-size: 1rem;
        }

        button {
            padding: 8px 16px;
        }
    }
}